.*.swp
.*.swo
*~
pkg/*

.DS_Store

nbproject/private/rake-d.txt

nbproject/project.properties

nbproject/project.xml

*.gem
*.rbc
.bundle
.config
.yardoc
Gemfile.lock
InstalledFiles
_yardoc
coverage
doc/
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
